{
  "env": {
    "development": {
      "presets": ["env", "react"],
      "plugins": [
        "add-module-exports"
      ]
    },
    "production": {
      "presets": ["env", "react", "minify"],
      "plugins": [
        "add-module-exports"
      ]
    }
  }
}
